html, body {
    height: 100%;
}

body {
    background: #ffffff url('../resources/background.png') bottom center no-repeat;
    padding-bottom: 581px;
    border-top: 1px solid #5f8420;
}

a {
    color: #5f8420;
}

a:hover {
    color: #496618;
}

div.auth {
    margin-top: 1%;
    padding-right: 30px;
    text-align: right;
}

div.auth a {
    font-size: 15px;
    text-decoration: underline;
    color: #5f8420;
    text-align: right;
}

div.auth p {
    margin-bottom: 2px;
}

div.frame-small {
    border: 2px solid #5f8420;
    border-radius: 5px;
    width: 60%;
    height: 370px;
    margin: 5% auto 0;
}

div.login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 8%;
}

div.frame-big {
    border: 2px solid #5f8420;
    border-radius: 5px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

div.main-block {
    margin: 1% 2% 1% 2%;
}

div.main-block-into {
    margin: 2% 0 1% -10px;
}

ul.sub-nav{
    font-size: 18px;
}

.btn-primary {
    color: #fff;
    background-color: #5f8420;
    border-color: #5f8420;
    float: right;
}

.btn-primary:hover {
    color: #fff;
    background-color: #496618;
    border-color: #496618;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(95, 132, 32, .5)
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #3e8f15;
    border-color: #3e8f15
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #5f8420;
    border-color: #5f8420
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(95, 132, 32, .5)
}